<footer class="main-footer">
	<div class="col-6">
		<h1>About this site</h1>
		<p>This site is powered by Ruby on rails. This page doesn't uses any CSS frameworks, but it aims to mimic Bootstrap's 12 column page organization. The CSS is all custom and uses SCSS as its preprocessor.</p>
	</div>
	<div class="col-6" id="about-me">
		<h1>About me</h1>
		<ul>
			<li>Education: BS in CS from UCSB</li>
			<li>Employment: Software Engineer</li>
		</ul>
	</div>
</footer>