<% content_for :head do %>
	<%= stylesheet_link_tag 'material_design' %>
<% end %>

<div class="page-header">
	<h1>Material Design</h1>
</div>
<div class="page-body">
	<p>This page aims to practice and explain some of the principles behind Google's "Material Design". In Material Design, components existing on a webpage are thought to be pieces of material that represent a stronger analog to real life interactions.</p>
</div>
<div class="material">
	<div class="material-header">
		<h1>This is a piece of material</h1>
	</div>
	<div class="material-body">
		<p>Note that this material has it's own shape and size</p>
	</div>
</div>
<div class="material">
	<div class="material-header">
		<h1>This is a piece of material</h1>
	</div>
	<div class="material-body">
		<p>Note that this material has it's own shape and size</p>
	</div>
</div>
<div class="material">
	<div class="material-header">
		<h1>This is a piece of material</h1>
	</div>
	<div class="material-body">
		<p>Note that this material has it's own shape and size</p>
	</div>
</div>
<div class="material">
	<div class="material-header">
		<h1>This is a piece of material</h1>
	</div>
	<div class="material-body">
		<p>Note that this material has it's own shape and size</p>
	</div>
</div>
<div class="material">
	<div class="material-header">
		<h1>This is a piece of material</h1>
	</div>
	<div class="material-body">
		<p>Note that this material has it's own shape and size</p>
	</div>
</div>
<div class="material">
	<div class="material-header">
		<h1>This is a piece of material</h1>
	</div>
	<div class="material-body">
		<p>Note that this material has it's own shape and size</p>
	</div>
</div>